




  <div class=" container">
    
    {{! This section will have all the charts }}
    
   
  </div>







 <div class="dashboard is-full-height">
  
  
  <!-- main section -->
  <div class="dashboard-main is-scrollable">
    <nav class="navbar">
      <div class="navbar-brand">
        <div>
      <img src="../asset/Plutus-logos.jpeg" alt="" class="image is-96x96">
    </div>
        <span class="navbar-item">
          
        </span>
      </div>
    </nav>
    <div class="tile is-ancestor">
      <div class="tile is-parent is-3">
    <article class="tile is-child notification has-background-primary-light	">
      <div class="content">
        {{!-- <p class="title">PLUTUS</p> --}}
        <p class="subtitle "></p>
        <div class="content">
          <!-- Content -->
          {{> asideNav}}
        </div>
      </div>
    </article>
  </div>
  <div class="tile is-vertical is-8">
    <div class="tile is-parent">
      <article class="tile is-child notification has-background-success		">
        <p class="title has-text-light">Trip Budget</p>
        <p class="subtitle"></p>
        <div class="content">
          <!-- Content -->
          <section class="section">
             <div id="container" style="width:100%; height:400px;"></div>
          </section>
        </div>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child notification has-background-info		">
        <p class="title has-text-light"></p>
        <p class="subtitle"></p>
        <div class="content">
          <!-- Content -->
          <section class="section">
              <div id="highcharts-container"></div>
               <table class="table">
      <thead>
        <tr>
          <th>Description</th>
          <th>Category</th>
          <th>Quantity</th>
          <th>Unit Cost</th>
          <th>Amount</th>
          <th>X</th>
        </tr>
      </thead>
      <tbody>
        {{#each trips as |trip|}}
        <tr>
          <td>{{trip.description}}</td>
          <td>{{trip.category}}</td>
          <td>{{trip.quantity}}</td>
          <td>{{trip.unit_cost}}</td>
          <td>{{trip.amount}}</td>
          <td></td>
        </tr>
        {{/each}}
        {{!-- Rows for inputting new trip expenses --}}
        <tr>
          <td><input type="text" id="description" name="description"></td>
          <td><input type="text" id="category" name="type"></td>
          <td><input type="text" id="quantity" name="quantity"></td>
          <td><input type="text" id="unit-cost" name="unit-cost"></td>
          <td><id="amount" name="amount"></td>
          <td><button id="submit-trip">Submit</button></td>
        </tr>
      </tbody>
    </table>
          </section>
        </div>
      </article>
    </div>
  </div>
  
  
</div>

<script src="../js/tripBudget.js"></script>
<script src="https://code.highcharts.com/gantt/modules/gantt.js"></script>
<script src="../js/add-trip.js"></script>


